<div class="mainCont">
  <div>
    <div class="testFlexCont">

      <form class="pumpCont">
        <div class="pumpImage"><img class="imgPump" src="assets/images/p4.jpg"></div>
        <div class="openData">
          <div class="dataElement">

            <div class="flexable">
              <div class="flex-elem">{{resName.R}}</div>
              <div class="flex-value">{{res.r}}</div>
            </div>
            <div class="flexable">
              <div class="flex-elem">{{resName.S}}</div>
              <div class="flex-value">{{res.s}}</div>
            </div>
            <div class="flexable">
              <div class="flex-elem">{{resName.U}}</div>
              <div class="flex-value">{{res.u}}</div>
            </div>


          </div>
        </div>
      </form>


    </div>
  </div>


</div>




