<nav class="nav-extended">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Промтех</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink="const">Авторизация</a></li>
    </ul>
  </div>
  <div class="nav-content">
    <ul class="tabs tabs-transparent">
      <li><a routerLink="nki">Мощность компрессора</a></li>
      <li><a routerLink="nbi">Мощность вентилятора</a></li>
      <li><a routerLink="nbi">Мощность насоса</a></li>
    </ul>
  </div>
</nav>


<div class="container">
  <router-outlet></router-outlet>
</div>
